# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
venv/
*egg-info/
*.sqlite3
*.yaml

# Node/npm (if ever used)
node_modules/

# System
.DS_Store
Thumbs.db

# VSCode/PyCharm
.vscode/
.idea/

# Frontend build artifacts
dist/
build/

# Logs and temp
*.log
*.tmp

# Git
*.swp
*.swo
*.bak
